button {
    background-color: #0099CC;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  #botones-centrados a:first-child button {
    margin-right: 10px;
  }
  
  #botones-centrados a:last-child button {
    margin-left: 10px;
  }
  